<template>
    <div>
        <footer class="main-footer">
            <div class="main-ftr">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="../../../images/TheKitchenCoFooterLogo.png">
                        </div>
                        <div class="col-md-3 ">
                            <h3>Opening Hours</h3>
                            <ul class="open-hrs">
                                <li>Monday - Thursday<span>12:00 - 00:00</span></li>
                                <li>Friday - Saturday<span>12:00 - 02:00</span></li>
                                <li>Sunday<span>14:00 - 02:00</span></li>

                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Contact Us</h3>
                               <ul>
                                <li><a href="https://g.page/the-kitchen-co-uk?share" target="_blank"><span></span>Kitchen Rear of  496 Moseley Road<br>
                                 Balsall Heath<br>
                                  Birmingham
                                  <br> B12 9AH</a></li>
                                <li><a href="malilto:info@thekitchenco.uk"><span></span>info@thekitchenco.uk</a></li>
                                <li><a href="tel:01213928888"><span></span>0121 392 8888
                                </a></li>
                            </ul>
          <!--                   <ul class="sicons footer-social-links">
                                <li>
                                    <a href="https://www.facebook.com/thekitchencouk/" target="_blank">

                                        <span><i class="fab fa-facebook" ></i></span>

                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/thekitchencouk?igshid=1nmm1r6z0j8oc" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-play"></i>
                                    </a>
                                </li>
                            </ul> -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <!-- <div class="right">
                        <ul class="sicons">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                    </div> -->
                    <div class="left">
                        <p>© TheKitchenCo 2021. All rights reserved.</p>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</template>
