<template>

    <div>
        <header>
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <ul class="sicons">
                                <li>
                                    <a href="https://www.facebook.com/thekitchencouk/"  target="_blank">

                                        <span><i class="fab fa-facebook" ></i></span>

                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/thekitchencouk?igshid=1nmm1r6z0j8oc" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            <!--     <li>
                                    <a href="#">
                                        <i class="fab fa-google-play"></i>
                                    </a>
                                </li> -->
                                <li>
                                    <a href="https://www.tiktok.com/@thekitchencouk?lang=en" target="_blank" class="tiktok-link">
                                        <img src="images/tik-tok.png" alt="">
                                    </a>
                                </li>       
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6">
                            <ul class="add-s">
                                <li>

                                    <a href="mailto:info@thekitchenco.uk">

                                        info@thekitchenco.uk
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:01213928888">
                                        <span><i class="fa fa-phone"></i></span>
                                        0121 392 8888
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <router-link  class="navbar-brand" :to="{ path: '/'}">

                    <img src="../../../images/TheKitchenCoLogo.png">

                    </router-link>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                      <li class="nav-item active">
                          <router-link  class="nav-link" :to="{ path: '/'}"> Home </router-link>
                      </li>
                      <li class="nav-item">
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @click.prevent="openPostalCode">
                          Order Online
                        </a>
                      </li>
                      <li class="nav-item" v-if="!loggedIn">
                        <a class="nav-link" href="javascript:;" role="button" @click.prevent="loginPopup">
                          Login / SignUp
                        </a>
                      </li>

                        <li class="nav-item" v-if="loggedIn">
                          <router-link  class="nav-link" :to="{ path: '/order-detail'}"> My Orders </router-link>
                        </li>
                        </li>

                        <li class="nav-item" v-if="loggedIn">
                            <a class="nav-link" href="javascript:;" role="button" @click.prevent="logout">
                                Logout
                            </a>
                        </li>
                      <li class="nav-item">
<!--                        <a class="nav-link" href="#">Covid 19 Update</a>-->
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
<!--                            <span><i class="fa fa-phone"></i></span> Contact us-->
                        </a>
                      </li>
                    </ul>
                    <div class="cart-icon" v-click-outside="onClickOutside">
                        <a href="#" v-on:click="openCart = !openCart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="cart-count">{{count}}</span>
                        </a>

                        <div class="show-cart" v-if="openCart" id="hide">
                            <div class="card-body">
                                <div class="row">
                                        <div class="col-md-12 item-row scroll style-3">
                                            <div class="row selected-item-row" v-for="(cart, product_index) in cartItems">
                                                <div class="col-md-8">
                                                    <div class="item-list">
                                                        <h5>{{cart.product_name}}</h5>
                                                        <p v-if="cart.extras" v-for="(extra, extra_index) in cart.extras"><b>{{extra.group_name}} : </b>{{extra.choice}}</p>
                                                        <span class="item-quantity"><strong>Quantity: </strong>{{ cart.quantity}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="edit-options">
                                                        <span class="remove-item mr-2"  v-b-tooltip.hover title="remove" @click.prevent="removeFromCart(cart)"><i class="fa fa-times"></i></span>
                                                        <span class="edit-item" v-b-tooltip.hover title="edit" @click="updateProduct(cart.product_id, cart, product_index)"><i class="fas fa-pen"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p v-if="cartItems.length == 0" class="empty-cart">No item in cart</p>
                                        </div>

                                </div>
                                <div class="view-total-menu">
                                    <div class="col-md-12">
                                        <div class="total"><strong>Total: </strong>£{{priceFormat(totalPrice)}}</div>
                                            <router-link  class="view-cart-menu" :to="{ path: '/online-order/'+postal_code}"> View Menu </router-link>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </nav>
        </header>

        <login-popup @HideModalValue="hideModal" :showModalProp="loginModal"></login-popup>

        <register-popup @HideModalValue="hideModal" :showModalProp="registerModal"></register-popup>

        <download-menu @HideModalValue="hideModal" :showModalProp="showPopup" :isMenu="menu" :isAllergy="allergy" ></download-menu>
        <postal-code-popup  @HideModalValue="hideModal"   :showModalProp="showPostalCode"></postal-code-popup>

        <edit-product @HideModalValue="hideModal" :showModalProp="editProduct" :list="list" :editList="editList"
                      :has_sizes="has_sizes" :editIndex="editIndex"></edit-product>

        <edit-deal @HideModalValue="hideModal" :showModalProp="editDeal" :deals_data="deals_data"
                   :editDealsData="editDealsData" :editIndex="editIndex"></edit-deal>

    </div>

</template>

<script>
import vClickOutside from 'v-click-outside'
    export default {
        directives: {
           clickOutside: vClickOutside.directive
         },
        data() {
            return {
                loading: false,
                postal_code: '',
                error_message: '',
                showPopup: false,
                showPostalCode: false,
                menu: false,
                allergy: false,
                loginModal: false,
                registerModal: false,
                openCart: false,
                editProduct: false,
                list: {},
                editList: {},
                has_sizes: false,
                editIndex: '',
                editDeal: false,
                deals_data: {},
                editDealsData: {},
            }
        },
        methods: {

            onClickOutside (event) {
                this.openCart = false
            },

            hideModal() {
                this.showPopup = false;
                this.showPostalCode = false;
                this.loginModal = false;
                this.registerModal = false;

                this.editProduct = false;
                this.list = {};
                this.deals_data = {};
                this.editDeal = false;
                this.editDealsData = {};
            },

            openMenu() {
                this.showPopup = true;
                this.menu = true;
                this.allergy = false;
            },

            openAllergy() {
                this.showPopup = true;
                this.allergy = true;
                this.menu = false;
            },

            openPostalCode() {
                this.showPopup = false;
                this.allergy = false;
                this.menu = false;
                this.showPostalCode = true;
            },

            loginPopup() {
                this.loginModal = true;
            },

            registerPopup() {
                this.registerModal = true;
            },

            logout(){
                this.$store.commit('setUserData', '');
                location.reload();
            },

            checkPostCode() {
                let vm = this;
                if (this.postal_code == '') {
                    vm.error_message = 'Please Enter Your Postcode';
                } else {
                    axios({
                        method: 'post',
                        url: '/api/check-postal',
                        data: {
                            postal_code: this.postal_code
                        },
                    }).then(function (response) {
                        if (response.data.error === undefined) {
                            vm.error_message = response.data.data.amount;
                            vm.$router.push({path: 'online-order/' + vm.postal_code})
                            vm.$store.commit('setDeliveryCharges', response.data.data.amount);
                        } else {
                            vm.error_message = 'We are not providing food in your Area';
                        }
                    })
                        .catch(function (response) {
                            //handle error
                            console.log(response);
                        });
                }

            },

            getGeneralSetting() {
                axios({
                    method: 'get',
                    url: '/api/restaurant_info',
                }).then(function (response) {
                    if (response.data.error === undefined) {
                        console.log(response);
                    } else {
                        vm.error_message = 'We are not providing food in your Area';
                    }
                })
                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });
            },

            priceFormat(num) {
                return parseFloat(num).toFixed(2);
            },

            removeFromCart(index) {

              let product = index;
              product.removalQuantity = index.quantity;

              this.$store.commit('removeFromCart', product);
            },

            updateProduct(id, cart, index) {
                let _this = this;
                var url = '';
                if (cart.product_type === "deal") {
                    this.editDealsData = cart;
                    _this.loading = true;
                    url = '/api/deals/' + id;
                } else {
                    this.editList = cart;
                    _this.loading = true;
                    url = '/api/products/' + id;
                }
                axios.get(url)
                    .then((response) => {
                        if (cart.product_type === 'deal') {

                            _this.deals_data = response.data.data;
                            _this.loading = false;
                            _this.editIndex = index;
                            _this.editDeal = true;

                        } else {

                            console.log(response.data.data);

                            _this.list = response.data.data;
                            _this.has_sizes = _this.list.sizes.length > 0;
                            _this.loading = false;
                            _this.editIndex = index;
                            _this.editProduct = true;

                        }
                    });
            },
        },
        mounted() {
            this.getGeneralSetting();
        },
        computed: {
            loggedIn(){
                return this.$store.getters.getUserData;
            },

            cartItems () {
              return this.$store.state.cartItems;
            },

            totalPrice () {
                let price = 0;
                this.$store.state.cartItems.map(el => {
                  price += el['quantity'] * el['price'];
                })
                return price;
            },

            count () {
              return this.$store.state.cartItemsCount;
            }

        }
    }
</script>
