<template>
    <div>
        <b-modal
            id="register-popup"
            @hidden="onHidden"
            centered
            ok-variant="primary"
            title-tag="h5"
            size="md"
            :hide-footer=true
            ref="myModalRef"
            custom-modal
            no-close-on-backdrop
            class="custom-modal">

            <div class="header-modal">
                <h3 style="text-align:center">
                    <span class="close-icon" @click="hideModal()">
                        <img src="/images/remove.png">
                    </span>
                </h3>
            </div>

            <div class="modal-body">
       

                <div class="login-section">
                    <div class="login-inputs">
                        <form  @submit.prevent="register">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">First Name:</label>
                                        <input type="text" class="form-control" placeholder="Enter your first name" v-model="userRegister.first_name">
                                    </div>
                                    <p class="error-message" v-if="errors.first_name">{{ errors.first_name }}</p>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Last Name:</label>
                                        <input type="text" class="form-control" placeholder="Enter your last name" v-model="userRegister.last_name">
                                        <p class="error-message" v-if="errors.last_name">{{ errors.last_name }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Email:</label>
                                        <input type="email" class="form-control" placeholder="Enter your Email" v-model="userRegister.email">
                                        <p class="error-message" v-if="errors.email">{{ errors.email }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Password:</label>
                                        <input type="password" class="form-control" placeholder="Enter your Password" v-model="userRegister.password">
                                        <p class="error-message" v-if="errors.password">{{ errors.password }}</p>
                                    </div>
                                </div>
<!--                                <div class="col-md-12">-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="">Confirm Password:</label>-->
<!--                                        <input type="password" class="form-control" placeholder="Enter your Confirm Password" >-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-md-12">
                                    <b-form-checkbox
                                      id="checkbox-1"
                                      v-model="userRegister.status"
                                      name="checkbox-1"
                                      value="accepted"
                                      unchecked-value="not_accepted"
                                      class="mb-3"
                                    >
                                      I accept the terms and Conditions and Privacy Policy.
                                    </b-form-checkbox>
                                    <p class="error-message" v-if="errors.status">{{ errors.status }}</p>
                                </div>
<!--                                <div class="col-md-12">-->
<!--                                    <label for="">I would like to receive new deals and promotions through:</label>-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-md-6">-->
<!--                                            <b-form-checkbox-->
<!--                                              id="checkbox-1"-->
<!--                                              v-model="status"-->
<!--                                              name="checkbox-1"-->
<!--                                              value="accepted"-->
<!--                                              unchecked-value="not_accepted"-->
<!--                                            >-->
<!--                                              Email-->
<!--                                            </b-form-checkbox>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-6">-->
<!--                                            <b-form-checkbox-->
<!--                                              id="checkbox-1"-->
<!--                                              v-model="status"-->
<!--                                              name="checkbox-1"-->
<!--                                              value="accepted"-->
<!--                                              unchecked-value="not_accepted"-->
<!--                                            >-->
<!--                                              SMS-->
<!--                                            </b-form-checkbox>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>                            -->
                            </div>

                            <div class="col-md-12">
                               <button class="custom-btn btn-block">SignUp</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </b-modal>
    </div>
</template>


<script>
    export default {
        /*
        |--------------------------------------------------------------------------
        | Component > props
        |--------------------------------------------------------------------------
        */
        props: ['showModalProp'], // End of Component > props

        /*
        |--------------------------------------------------------------------------
        | Component > data
        |--------------------------------------------------------------------------
        */

        data: function () {
            return {

                userRegister:{
                    first_name:'',
                    last_name:'',
                    email:'',
                    password:'',
                    status:'',
                },
                reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
                errors: {
                    first_name: '',
                    last_name: '',
                    email:'',
                    password: '',
                    status: '',
                    email_exists: ''
                }

            };
        }, // End of Component > data

        /*
        |--------------------------------------------------------------------------
        | Component > methods
        |--------------------------------------------------------------------------
        */

        methods: {
            showModal() {
                this.$refs.myModalRef.show();
            },

            onHidden() {
                this.$emit('HideModalValue');
            },

            register() {
                this.errors = {
                    first_name:"",
                    last_name:"",
                    email:'',
                    password:"",
                    status:"",
                    email_exists:""
                };
                if(this.userRegister.first_name == ''){
                    this.errors.first_name = 'First name is requried';
                    return;
                }
                if(this.userRegister.last_name == ''){
                    this.errors.last_name = 'Last name is requried';
                    return;
                }
                if(this.userRegister.email == ''){
                    this.errors.email = 'Email address is requried';
                    return;
                }
                if (this.userRegister.email != '') {
                   if(!this.reg.test(this.userRegister.email)){
                        this.errors.email = 'This email address is invalid';
                        return;
                    }

                }
                if (this.userRegister.password == '') {
                    this.errors.password = 'This password is requried';
                    return;
                }


                if(this.userRegister.status != 'accepted'){
                    this.errors.status = 'Please Accept our privacy Policy';
                    return;
                };

                if(this.userRegister.status == ''){
                    this.errors.status = 'Please Accept Terms and condition';
                }

                var data = {name:this.userRegister.first_name+' '+this.userRegister.last_name,password:this.userRegister.password,email:this.userRegister.email}
                let vm = this;

                axios({
                    method: 'post',
                    url: '/api/register',
                    data: data,
                }).then(function (response) {

                    vm.$store.commit('setUserData', JSON.stringify(response.data));
                    vm.hideModal();
                    location.reload();
                    this.errors = {
                        first_name:"",
                        last_name:"",
                        email:'',
                        password:"",
                        status:"",
                        email_exists:""
                    };

                }).catch(error => {
                   if(error.response){
                    this.errors.email_exists = 'Already Email Exist Please Login';
                   }
                });

            },

            hideModal() {
                var self = this;
                this.$refs.myModalRef.hide();

                this.$bvModal.hide('register-popup');
            },
        }, // End of Component > methods

        /*
        |--------------------------------------------------------------------------
        | Component > watch
        |--------------------------------------------------------------------------
        */

        watch: {
            showModalProp(value) {
                if (value) {
                    this.showModal();
                }
                if (!value) {
                    this.hideModal();
                }
            },

        }, // End of Component > watch

        computed: {
            //Getter Map
            loggedIn(){
                return this.$store.getters.getUserData ;
            }
        }
    }
</script>
