<template>
  <div>
    <header-menu></header-menu>

    <section class="inner-section">
      <div v-if="loading" class="loading">Loading&#8230;</div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 checkoutpage col-lg-8 col-md-8 col-sm-8 checkout-cart-form">
            <div class="row">
              <div class="col-sm-12 offset-sm-0 col-md-10 offset-md-1">

                <ul id="error_msg">
                  <li v-for="(errorMessage) in errorMessage" style="color: red;">{{errorMessage}}</li>
                </ul>
              </div>

              <div class="col-sm-12 offset-sm-0 col-md-10 offset-md-1">
                <div class="row  mt-4 p-3 mb-5 border-dashed">

                  <div class="col-12">

                    <div>

                      <div class="col-sm-12">
                        <label>{{form.order_type}} Date</label>
                        <select v-model="form.deliveryTime" class="form-control">
                          <option value="">Please select {{form.order_type}} Date</option>
                          <option v-for="slot in slots">{{slot}}</option>
                        </select>
                        <br>
                      </div>

                    </div>

                    <div v-show="form.order_type == 'Delivery'" class="row">

                      <div class="col-12">
                        <h2> Delivery Details</h2>
                      </div>
                      <div class="col-sm-6">
                        <label>Address </label>
                        <input v-model="form.address" class="form-control" name="address" placeholder="Address" required
                               type="text">
                      </div>

                      <div class="col-sm-6">
                        <label>Street *</label>
                        <input v-model="form.street" class="form-control" placeholder="Street" type="text">
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Town *</label>
                        <input v-model="form.town" class="form-control" placeholder="London" type="text">
                      </div>

                      <div class="col-sm-6">
                        <label class="col-form-label">PostCode *</label>
                        <input v-model="form.postal_code" class="form-control" placeholder="WC2H 9AH" type="text">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row  mt-4 p-3 mb-5 border-dashed">
                  <div class="col-12">
                    <h2> Personal Details</h2>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-form-label">Email</label>
                    <input v-model="form.email" class="form-control" placeholder="abc@example.com" type="text">
                  </div>

                  <div class="col-sm-6">
                    <label class="col-form-label">Number</label>
                    <input v-model="form.number" class="form-control" placeholder="" type="text">
                  </div>

                  <div class="col-sm-6">
                    <label class="col-form-label">Name</label>
                    <input v-model="form.name" class="form-control" placeholder="" type="text">
                  </div>
                </div>

                <div class="row mt-4  p-3 mb-5 border-dashed">
                  <div class="col-12">
                    <h2>Payment</h2>
                  </div>
                  <div class="col-sm-6">
                    <label class="customradiobutton radioiconed radio-inline mr-3">
                      <input v-model="form.payment_type" type="radio" value="COD" @change.prevent="showCard(false)"><i
                        class="fas fa-wallet"></i> Cash on Delivery
                    </label>
                  </div>
                  <div class="col-sm-6">
                    <label class="customradiobutton radioiconed radio-inline mr-3">
                      <input v-model="form.payment_type" type="radio" value="credit_card"
                             @change.prevent="showCard(true)"><i class="fas fa-credit-card"></i> Credit/Debit Card
                    </label>
                  </div>

                  <div class="col-12">
                    <div v-show="card" class="row">
                      <div class="col-sm-12">
                        <div id="card-element"></div>
                    </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-4">
                        <button class="subscribe btn btn-primary btn-block" type="button" @click="placeOrder()">
                          Confirm
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-if="cartItems.length > 0"
               class="col-xs-12 full cart col-lg-4 col-md-4 col-sm-12 checkout-cart-desktop">
            <div id="cart-stiky" class="order cart-box">
              <img src="../../images/shopping-cart.png">
              <h2>Your Order </h2>

              <div>
                <strong>Order Details</strong>


                <div class="table-holder">
                  <table class=tbl_cart_list>
                    <tr v-for="(cart, product_index) in cartItems">
                      <td class=highlighted>
                      </td>
                      <td>
                        <span>{{ cart.quantity}}</span>
                      </td>
                      <td>
                        <div>{{cart.product_name}}</div>
                        <div v-for="(extra, extra_index) in cart.extras" v-if="cart.extras">
                          <strong>{{extra.group_name}}:</strong> {{extra.choice}}
                        </div>
                      </td>

                      <td v-if="!cart.extras">£ {{priceFormat(cart.price * cart.quantity) }}</td>
                      <td v-if="cart.extras">£{{priceFormat(cart.single_product_total_amount)}}</td>
                    </tr>
                  </table>
                </div>
                <div class="cart-money-detail">

                  <ul>
                    <li v-if="!coupon_applied">
                                <span>
                                    <input v-model="coupon_code" class="form-control" type="text">
                                </span>
                      <span>
                                    <button v-if="!coupon_applied" class="btn btn-primary" style="
                                        margin: 5px;
                                        width: 100%;
                                        font-size: 14px !important;
                                        padding: 5px !important;
                                    "
                                            type="button" @click="applyCoupon">Apply Coupon</button>

                                </span>
                    </li>
                    <li v-if="coupon_error" style="color: red;">{{coupon_error}}</li>
                  </ul>
                </div>

                <div class="cart-money-detail">
                  <ul>
                    <li class="fees"></li>
                    <li>
                      <span>Sub Total</span>
                      <span>£{{priceFormat(totalPrice)}}</span>
                    </li>

                    <li>
                      <span>Discount</span>
                      <span><a v-if="discountedAmount > 0" href="#" @click.prevent="removeCoupon"><i
                          class="fa fa-trash"></i></a> - {{discountedAmount}} </span>
                    </li>

                    <li v-if="delivery_fees > 0">
                      <span>Delivery Fees</span>
                      <span>  £ {{delivery_fees}} </span>
                    </li>

                    <li>
                      <span>Total</span>
                      <span>£{{priceFormat(finalAmount)}}</span>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <footer-menu></footer-menu>

  </div>
</template>

<script>

import {loadStripe} from '@stripe/stripe-js';

export default {
  components: {},
  data: function () {
    return {
      stripe: {},
      cardElement: {},
      loading: false,
      cat_count: false,
      coupon_code: "",
      coupon_error: "",
      card: false,
      order_card: false,
      interval: 45,
      form: {
        address: '',
        street: '',
        town: null,
        postal_code: '',
        land_mark: '',
        email: '',
        number: '',
        name: '',
        payment_type: '',
        order_type: this.$store.getters.getOrderType,
        deliveryTime: '',
        asap: ''
      },
      foods: [{text: 'Select One', value: null}, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
      show: true,
      errorMessage: [],
      validForm: true,
      sendRequest: false,
      offers: [],
      generatedToken: '',
      discountedAmount: 0,
      discountedPercentAge: 10,
      slots: [],
      delivery_fees: this.$store.getters.getDeliveryCharges == 'undefined' ? 0 : this.$store.getters.getDeliveryCharges,
      coupon_applied: false,
      hostedFieldInstance: false,
      threeDSecure: false,
      nonce: "",
      error: "",
      amount: 10,
    };
  },
  async mounted() {

    this.stripe = await loadStripe("pk_live_51JXnRCH71X9RL0xsfpADqGumBYievOp6seZLdfsz9eIBoUQ01CxE1rcIXeuJV8O3oD6mR02JvJ7LPZAq67Af5ury00CfCvKdld");

    const elements = this.stripe.elements();
    this.cardElement = elements.create('card', {
      classes: {
        base: 'form-control'
      }
    });

    this.cardElement.mount('#card-element');

    this.form.order_type = this.$store.getters.getOrderType;

    if (this.form.order_type == "Pickup")
      this.interval = 30;
    else
      this.interval = 45

    this.getTimeSlots()

    this.scrollToMain();
    this.getOffers();

   // this.generateToken();
  },

  methods: {
    getOffers() {
      let _this = this;
      _this.loading = true;
      axios.get('/api/offer')
          .then((response) => {
            _this.offers = response.data.data;

            _this.loading = false;
          });
    },


    generateToken() {
      let _this = this;
      _this.loading = true;
      axios.get('/api/generate-braintree-token')
          .then((response) => {
            _this.generatedToken = response.data.data;
            _this.loading = false;
          });
    },

    getTimeSlots() {
      let _this = this;
      _this.loading = true;
      axios.get('/api/get-time-slots/' + _this.interval)
          .then((response) => {
            _this.slots = response.data;

            _this.loading = false;
          });
    },

    applyCoupon() {

      let _this = this;

      let data = {
        'coupon_code': _this.coupon_code,
        'total_amount': _this.finalAmount
      };

      _this.loading = true;

      if (this.coupon_code === "") {
        _this.coupon_error = 'please enter a valid coupon code';
        _this.loading = false;

        setTimeout(() => {
          _this.coupon_error = "";
        }, 2000);

        return;
      }

      axios({
        method: 'post',
        url: '/api/apply-coupon',
        data: data
      })
          .then(function (response) {
            _this.loading = false;
            //handle success
            _this.discountedAmount = response.data.data
            _this.coupon_applied = true
          })
          .catch(function (response) {
            //handle error
            _this.loading = false;
            _this.coupon_error = response.response.data.error.message;
            setTimeout(() => {
              _this.coupon_error = "";
            }, 2000);
          });
    },

    removeCoupon() {

      let _this = this;

      _this.coupon_applied = false;
      _this.discountedAmount = 0;
      _this.coupon_code = "";

    },

    priceFormat(num) {
      return parseFloat(num).toFixed(2);
    },

    showCard(val) {
      this.card = val;
    },

    showOrderType(val) {
      this.order_card = val;
    },

    scrollToMain() {
      let element = document.getElementById("error_msg");
      element.scrollIntoView({behavior: "instant", block: "start"});
    },

    scrollToTop() {
      let element = document.getElementById("error_msg");
      element.scrollIntoView({behavior: "instant", block: "start"});
    },

    async placeOrder() {
      let error = [];
      let _this = this;
      //  if (this.form.order_type != '') {
      if (this.form.email === "") {
        error.push('Please Add Your Email Address');
      }

      if (this.form.deliveryTime === "") {
        error.push('Please select delivery/pickup date and time');
      }

      if (this.form.name === "") {
        error.push('Please Add Your Name');
      }
      if (this.form.number === "") {
        error.push('Please Add Your Number');
      }
      if (this.form.order_type === 'Delivery') {
        if (this.form.address === "") {
          error.push('Please Add Your Delivery Address');
        }
        if (this.form.street === "") {
          error.push('Please Add Your Street Adress');
        }
        if (this.form.town === "") {
          error.push('Please Add Your Town Name');
        }
        if (this.form.postal_code === "") {
          error.push('Please Add Your Postcode');
        }
      }

      if (this.form.payment_type === "") {
        error.push('Please Add Your Payment Type');
      }
      /*} else {
          error.push('Please Choose Your Order Type');
      }*/
      this.errorMessage = error;

      if (this.errorMessage.length > 0) {
        _this.scrollToTop();
      } else {
        let vm = this;
        if (this.form.order_type == 'Pickup') {
          vm.form.address = '---';
          vm.form.street = '---';
          vm.form.postal_code = '---';
        }

        let data = {
          'user_id': 11,
          'total_amount_with_fee': this.finalAmount,
          'delivery_fees': this.delivery_fees,
          'discounted_amount': this.discountedAmount,
          'payment': vm.form.payment_type,
          'delivery_address': vm.form.address + " " + vm.form.street + " " + vm.form.postal_code,
          // 'delivery_address': "===",
          'order_details': vm.cartItems,
          'user_data': this.form,
          'order_type': this.form.order_type,
          'payment_method_id' : ''
        };

      if (this.validForm) {
        vm.loading = true;

        if (this.form.payment_type === "credit_card") {

          /** For Paypal **/

          /*if (this.hostedFieldInstance) {
            this.error = "";
            this.nonce = "";
            this.hostedFieldInstance.tokenize().then(payload => {

              this.nonce = payload.nonce;

              this.threeDSecure.verifyCard({
                amount: this.finalAmount,
                nonce: this.nonce,
                customer: {
                  email: this.form.email,
                  mobilePhoneNumber: this.form.number,
                  billingAddress: {
                    firstName: this.form.name,
                    streetAddress: this.form.address,
                    locality: this.form.street,
                    region: this.form.town,
                    postal_code: this.form.postal_code,
                    phoneNumber: this.form.number
                  }
                },
                addFrame: function (err, iframe) {
                  vm.loading = false;
                  // Set up your UI and add the iframe.
                  document.getElementById("verifyCard").appendChild(iframe);
                },
                removeFrame: function () {
                  vm.loading = false;
                  // Remove UI that you added in addFrame.
                  document.getElementById("verifyCard").innerHTML = ""
                }

              }).then(pp => {
                this.loading = false;

                data.payment_method_id = pp.nonce;

                vm.sendPlaceOrder(data)

              }).catch(err => {
                this.loading = false;
                this.error = err.message;
              });

            })
            .catch(err => {
              console.error(err);
              this.error = err.message;
            })
          }*/


          const {paymentMethod, error} = await this.stripe.createPaymentMethod(
              'card', this.cardElement, {
                billing_details: {
                  name: this.form.name,
                  email: this.form.email,
                  address: {
                    line1: this.form.address,
                    city: this.form.street,
                    state: this.form.town,
                    postal_code: this.form.postal_code
                  }
                }
              }
          );

          if (error) {
            vm.loading = false;
          //  alert(error.message)
            console.log(error)
          } else {

            data.payment_method_id = paymentMethod.id;

            axios({
              method: 'post',
              url: '/api/stripe-order',
              data: data
            })
            .then(function (response) {
              vm.loading = false;
              //handle success
              console.log(response);
              vm.$router.push({name: 'thankyou'});

              vm.$store.state.cartItems =  [];
              vm.$store.state.cartItemsCount = 0;

            })
            .catch(function (response) {
              //handle error
              vm.loading = false;

              vm.stripe.confirmCardPayment(response.response.data.error.payment_data.client_secret, {
                payment_method: response.response.data.error.payment_data.payment_method,
              }).then(function(result) {
                  vm.sendPlaceOrder(data)
              });

            });
          }

          } else {
              vm.sendPlaceOrder(data)
          }
        }
      }
    },

    sendPlaceOrder(data) {

        let self = this;

        console.log(data)

        axios({
          method: 'post',
          url: '/api/placeOrder',
          data: data
        })
        .then(function (response) {
          self.loading = false;
          //handle success

          console.log(response);

          self.$store.state.cartItems =  [];
          self.$store.state.cartItemsCount = 0;

          self.$router.push({name: 'thankyou'});

        })
        .catch(function (response) {
          //handle error
          self.loading = false;
          alert(response.response.data.error.message);
          console.log(response.response.data.error.message);

        });

  },

    payWithCreditCard() {

    }


  },
  computed: {

    cartItems () {
      return this.$store.state.cartItems;
    },

    totalPrice () {
      let price = 0;
      this.$store.state.cartItems.map(el => {
        price += el['quantity'] * el['price'];
      })
      return price;
    },

    finalAmount () {

      let final_amount = 0
      if (localStorage.getItem('order_type') === "Pickup") {
        final_amount = this.totalPrice - this.discountedAmount;
      } else {
        final_amount = this.totalPrice + this.delivery_fees - this.discountedAmount;
      }

      return final_amount;

    }

    /*getAllCartArray() {
      if (this.$store.getters.getAllCartArray.length > 1) {

        let sum = 0;
        let count = 0;
        this.$store.getters.getAllCartArray.forEach(function (item) {
          count++;
          if (count > 1) {
            sum += item.single_product_total_amount;
          }
        });
        this.total_amount = sum;
        if (sum >= 1500000000) {
          this.discountedAmount = (sum / 100 * this.discountedPercentAge).toFixed(2)
        }

        if (localStorage.getItem('order_type') === "Pickup") {
          this.finalAmount = this.total_amount - this.discountedAmount;
        } else {
          this.finalAmount = this.total_amount + this.delivery_fees - this.discountedAmount;
        }

      }
      return this.$store.getters.getAllCartArray;
    },*/
  }
}
</script>

<style>
body {
  overflow: inherit !important;
}

.cover {
  background-image: url('https://res.cloudinary.com/ordering2/image/upload/f_auto,q_auto,h_800,c_limit/v1573197396/w7h69zusidjo01abgrel.jpg');
}

.full {
  padding: 0;
}

.cover {
  position: relative;
  overflow: hidden;
  max-height: 45vh;
  height: 26.5vw;
  background: #f5f5f5;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.cover img.principal {
  background: #f5f5f5;
  height: 100%;
}

.cover img.logo.preload {
  border: 1px solid #eee;
  box-shadow: none;
}

.cover img.logo {
  position: absolute;
  width: 8vw;
  height: 8vw;
  min-width: 60px;
  min-height: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 5%;
  left: 5%;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.arabic_rtl .cover img.logo {
  left: initial;
  right: 5%;
}

.business-content {
  padding-left: 5%;
  background: #fff;
  overflow: hidden;
}

.business-content .preorder {
  display: inline-block;
  padding: 0;
  margin-bottom: 7px;
}

.business-content .preorder .current {
  display: inherit;
  background: #ddd;
  padding: 5px 7px;
  border-radius: 3px;
  font-size: 14px;
  vertical-align: middle;
  color: #333;
}

.business-content .preorder .current i {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
  display: inline;
}

.business-content p.description.preload {
  background: #eee;
  color: #eee;
  width: 65%;
}

.business-content p.description {
  font-size: 16px;
}

.business-content p.description,
.business-content p.description.preload {
  direction: ltr;
}

.arabic_rtl .business-content p.description,
.arabic_rtl .business-content p.description.preload {
  direction: rtl;
}


h3.title,
input.title {
  margin: 15px 0;
  color: #EF1962;
  font-size: 30px;
  direction: ltr;
}

h3.title.preload {
  color: #EF1962;
  background: #EF1962;
  width: 35%;
  direction: ltr;
}

.arabic_rtl h3.title,
.arabic_rtl h3.title.preload {
  direction: rtl;
}

.nav-tabs {
  padding-bottom: 1px;
  width: 100%;
}

.nav-tabs.preload li a span {
  background: #ccc;
  color: #ccc;
}

.nav-tabs.preload li a.active span {
  background: #EF1962;
  color: #EF1962;
}

.nav-tabs > li.dropdown > a,
.nav-tabs > li > a {
  background: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0;
  border-bottom: 3px solid #fff;
  box-shadow: none;
  outline: none;
  color: #666;
  padding: 10px;
}

.nav-tabs > li > a:hover {
  background: #fff;
  border-color: transparent;
  border-bottom: 3px solid #fff;
  text-decoration: none;
}

.nav-tabs > li.dropdown > a.open,
.nav-tabs > li.dropdown > a.active,
.nav-tabs > li > a.active {
  color: #EF1962;
  background: #fff;
  border-color: transparent;
  border-bottom: 3px solid #EF1962;
}

.nav-tabs .open > a, .nav-tabs .open > a:hover, .nav-tabs .open > a:focus {
  border-color: transparent;
  color: #666;
  background: #fff;
  box-shadow: none;
  border-bottom: 3px solid #666;
}

.navbar-nav > li > .dropdown-menu {
  max-height: 320px;
  overflow-y: scroll;
}

.dropdown-menu {
  max-height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
}

.nav-tabs .dropdown-menu > li > a {
  color: #EF1962;
  font-weight: bold;
}

.nav-tabs .dropdown-menu > li.active > a {
  color: #666;
  background: #fff;
}

.dishes {
  position: static;
  padding: 15px;
  background: #ffffff;
}

.dishes div[class*=col-] {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.arabic_rtl .dishes div[class*=col-] {
  float: right;
}

.dishes .dishe {
  cursor: pointer;
  background: #fff;
  position: relative;
  padding: 15px 10px 10px 30px;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 90px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.dishes .disheMulti {
  cursor: pointer;
  background: #fff;
  position: relative;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 96px;
  overflow: hidden;
}

.dishes .dishe.sold_out {
  background: #eee;
}

.dishes .dishe .sold_out {
  position: absolute;
  background-color: #333;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 0 0 3px 0;
}

.item-sold-out {
  background: #e5e5e5;
  padding: 12px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
}

/* .dishes .dishe.compressed {
  height: auto;
} */

/*.arabic_rtl .dishes .dishe strong {
  padding-left: 0;
}

.dishes .dishe strong {
  padding-left: 7px;
}*/
.arabic_rtl .my_orders, .arabic_rtl .my_orders .middle-div {
  display: flex;
  align-items: flex-start;
}

.arabic_rtl .dishes .dishe img {
  float: right;
  margin-left: 7px;
  margin-right: 0;
}

.arabic_rtl .dishes .dishe strong {
  display: inline-flex;
  direction: initial;
}

.arabic_rtl .dishes .dishe strong span:nth-of-type(2) {
  margin-top: -.3rem;
  margin-left: .7rem;
}

.dishes .dishe img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  float: left;
  margin: 7px 0;
  margin-right: 7px;
}

.dishes .dishe:hover {
  border: 1px solid #ddd;
}

.dishes .dishe.preload strong {
  background: #ccc;
  color: #ccc;
}

.dishes .dishe p,
.dishes .dishe textarea {
  /*width: 100%;*/
  color: #777;
  font-size: 13px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishes .dishe.preload p {
  background: #eee;
  color: #eee;
}

.dishes .dishe .price {
  /*position: absolute;
  top: 0;
  right: 10px;*/
  float: right;
  margin-top: -10px;
  margin-left: 10px;
  font-weight: normal;
  color: #EF1962;
}

.dishes .dishe.preload .price span {
  background: #EF1962;
  color: #EF1962;
}

.arabic_rtl .dishes .dishe .price {
  right: auto;
  left: 10px;
  direction: rtl;
}

.cart.bordered {
  border-left: 1px solid #ccc;
}

.cart {
  padding-bottom: 15px;
  background: #fff;
}

.cart .order {
  direction: ltr;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  /*position: sticky;*/
  top: 20px;
}

.arabic_rtl .cart .order {
  direction: rtl;
}

.cart .order button {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px;
  width: 75%;
}

.cart .order button.btn-sm {
  padding: 5px 10px;
  width: 60%;
  font-size: 16px;
}

button.btn-gray {
  background: #ccc;
}

.cart h3 {
  color: #EF1962;
}

.cart .order img {
  width: 100%;
}

.cart .order table {
  width: 100%;
  margin-top: 15px;
  text-align: left;
  border-top: 1px solid #eee;
}

/* .cart .order table tr {

} */

.cart .order table tr td:nth-child(3) {
  min-width: 140px;
}

.cart .order table tr td:nth-child(4) {
  overflow: hidden;
}

.cart .order table .fees {
  border-top: 1px solid #eee;
}

.cart .order table tr.fees td:nth-child(2) {
  font-weight: normal;
}

.cart .order table tr.fees td:first-child {
  padding: 10px;
}

.cart .order table tr:last-child {
  background: #eee;
}

.cart .order table tr td {
  padding: 10px 5px;
  vertical-align: middle;
}

.cart .order table tr td i {
  cursor: pointer;
  padding: 6px 7px;
  border-radius: 15px;
}

.cart .order table tr td p.options {
  font-size: 12px;
  font-weight: normal;
  word-break: break-all;
}

.cart .order table tr td i.remove {
  background: #EF1962;
  color: #fff;
}

.cart .order table tr td i.edit {
  background: #33cd5f;
  color: #fff;
}

.cart .order table tr td.highlighted {
  color: #EF1962;
  font-weight: bold;
  text-align: center;
}

.cart .order table tr td:nth-child(2) {
  font-weight: bold;
}

.cart .order table tr td > div {
  cursor: pointer;
}

.cart .order p {
  color: #777;
  font-size: 20px;
}

.checkout-cart-desktop .order.cart-box img {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
  margin-right: 20px;
}

/*.business {
    border-right: 1px solid #ccc;
}*/

.arabic_rtl .business {
  float: right;
  border-right: 0;
}

.form {
  border-right: 1px solid #ccc;
  margin-right: -1px;
}

.arabic_rtl .form {
  float: right;
  border-right: 0;
  border-left: 1px solid #ccc;
}

.form .form-horizontal {
  width: 80%;
  margin: 20px auto;
}

.form .form-horizontal .form-group {
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.form .form-horizontal .form-group input,
.form .form-horizontal .form-group select {
  height: 40px;
  vertical-align: middle;
}

.form .form-horizontal .form-group input,
.form .form-horizontal .form-group select,
.form .form-horizontal .form-group textarea {
  padding: 5px 20px;
  margin-bottom: 10px;
  border-color: #ddd;
  font-size: 15px;
  outline: none;
  box-shadow: none;
}

.form .form-horizontal .control-label span {
  color: #EF1962;
}

.form .form-horizontal .diver-type {
  border: 0;
}

.form .form-horizontal p {
  padding: 5px;
  font-size: 17px;
  color: #999;
}

.form .form-horizontal p.help-error {
  padding: 0;
  font-size: 13px;
  margin-top: -6px;
  color: #f45353;
}

.form .form-horizontal p.input {
  padding: 9px 20px;
  border: 1px solid #ddd;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.form .form-horizontal p.input i {
  float: right;
  font-size: 20px;
}

.arabic_rtl .form .form-horizontal p.input i {
  float: left;
}

.form.form-popup {
  border: 0;
}

.form.form-popup .form-horizontal .form-group {
  border: 0;
}

.form.form-popup .form-horizontal {
  margin: 0;
  width: 100%;
}

.diver-type.checkout {
  margin: 0;
  background: inherit;
  min-height: auto;
}

.diver-type.checkout .item-radio input:checked + .radio-content .dynamic-radio:before,
.diver-type.checkout .item-radio input + .radio-content .dynamic-radio:before {
  font-size: 30px;
  color: #EF1962;
}

.diver-type.checkout .item-radio input:checked + .radio-content .text-radio,
.diver-type.checkout .item-radio input + .radio-content .text-radio {
  line-height: 30px;
  font-weight: normal;
}

.modal.fullscreen {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0;
}

.checkout-header .buttons {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 7px 0;
}

.checkout-header .buttons button {
  font-size: 17px;
  padding: 8px 35px;
}

.checkout-header h1 {
  padding: 8% 0;
  color: #fafafa;
  font-size: 2.25em;
}

.checkout-header h1 small {
  color: #fafafa;
}

.checkout {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #f9f9f9;
}

.checkout .content {
  padding: 0 25px;
}

.checkout .content .information tr td:first-child {
  padding-right: 20px;
}

.checkout .content .information tr td:last-child {
  padding-left: 20px;
}

@media (max-width: 767.98px) {
  /* .checkout .content {
    padding: 0 0px;
    overflow: hidden;
  } */
  /* .checkout .content table tbody tr td {
    font-size: calc(11px + 1vw) !important;
    padding-right: 0px  !important;
  } */
  .to {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }

  .chat .messages .message.to {
    padding-top: 0 !important;
  }
}

.checkout .content table {
  width: 100%;
}

.checkout .header {
  background: #EF1962;
  color: #fafafa;
  text-align: center;
}

.checkout .header {
  padding: 15px;
}

.checkout .header h2 small {
  color: #fafafa;
}

.checkout .content table tbody {
  border-bottom: 1px solid #ddd;
}

.checkout .content table tbody:last-child {
  border-bottom: 0;
}

.checkout .content table tbody tr td {
  width: 50%;
  font-size: 16px;
  color: #333;
}

.checkout .content table tbody tr:first-child td:first-child {
  padding-top: 20px;
}

.checkout .content table tbody tr:first-child td:last-child {
  padding-bottom: 20px;
}

.checkout .content table tbody tr.title td {
  text-align: left !important;
  font-size: 20px;
  color: #333;
}

.arabic_rtl .checkout .content table tbody tr.title td {
  text-align: right !important;
}

.checkout .content table tbody tr:last-child td {
  padding-bottom: 15px;
}

.checkout .content table tbody tr td:first-child {
  padding: 3px;
}

.checkout .content table tbody tr td:first-child {
  padding-left: 20px;
}

.checkout .content table tbody tr td:last-child {
  padding-right: 20px;
}

.checkout .content table tbody.price tr td:nth-child(2) {
  text-align: right !important;
}

.checkout .content table tbody tr td i {
  color: #999;
}

.checkout .content table tbody tr td span {
  color: #EF1962;
}

.checkout .content table tbody tr td span.omit {
  color: #333 !important;
}

.checkout .content table tbody tr td p {
  font-size: 14px;
}

.checkout .content table tbody tr td p span {
  color: #999;
}

.checkout .content table tbody.footer {
  background: #f9f9f9;
  text-align: center;
  position: static;
  height: auto;
}

.checkout .content table tbody.footer tr td {
  padding: 15px;
  color: #777;
  font-size: 18px;
  border-bottom: 0;
}

.popup {
  border-radius: 7px;
}

.popup.big {
  width: 90%;
  left: 5%;
  right: 5%;
  bottom: 5% !important;
}

.modal .popup-mode {
  padding: 20px 30px;
  background: #fff;
}


/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .modal .popup-mode {
      background-color: red !important;
    }
}
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2) {
  .modal .popup-mode {
    background-color: cyan !important;
  }
} */
.safari-browser {
  padding-right: env(safe-area-inset-bottom);
}

.modal .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  padding: 15px;
  z-index: 999;
  font-weight: normal;
}

.modal .close.share {
  right: 3.5rem;
}

.arabic_rtl .modal .close {
  top: 0;
  left: 0;
  right: auto;
}

.arabic_rtl .modal .close.share {
  left: 3.5rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal .close {
    position: absolute;
  }
}


.categories-tabs,
#categories-tabs,
#categories-tabss {
  background: #fff;
}

.offset-categories {
  /*height: 46px;*/
  overflow: unset !important;
}

.nav.nav-tabs.editor {
  height: auto;
}

.nav.nav-tabs {
  height: 46px;
  overflow: hidden;
  align-items: center;
}

.nav-tabs.three > li {
  width: 33.3333333333%;
}

.nav-tabs.four > li {
  width: 25%;
}

.nav-tabs.four > li > a,
.nav-tabs.three > li > a {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
  font-size: 90%;
  height: 44px;
}


.offset-categories.editor {
  height: auto;
}

#categories-tabs.fixed,
#cart-stiky.fixed {
  position: fixed;
  top: 0;
  z-index: 9;
  top: 70px;
  z-index: 9;
  right: 0;
}

#cart-stiky.fixed.bottom {
  top: initial;
  bottom: 0;
}

.navbar .dropdown a {
  padding: 11px 15px 12px 15px;
}

.navbar .dropdown .dropdown-toggle label.round {
  border: 1px solid #EF1962;
  padding: 3px 7px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 0;
  /*margin-top: -5px;*/
}

.view-more {
  border: 0;
  color: #EF1962;
  font-weight: bold;
  float: none;
}

.bottom-wrap {
  height: auto;
  white-space: normal;
}

.category-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px !important;
}

.title-category {
  vertical-align: middle;
  width: 100%;
  padding: 15px 5px;
  font-size: 20px;
  font-weight: bold;
}


.cart_badge {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 3px;
  min-width: 2rem;
  text-align: center;
  color: white;
}


.product-search {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 0;
}

.product-search .input-group input.form-control {
  border-color: #ccc !important;
  height: auto;
  padding: 7px;
  font-size: 14px;
}

.product-search .input-group-addon:first-child,
.product-search .input-group-addon {
  border-color: #ccc;
  color: #ccc;
  padding: 4px 7px 5px 0;
  font-size: 20px;
}


.tbl_cart_list .form-group {
  min-width: 56px;
  max-width: 56px;
  margin-top: .5rem;
  margin-left: .5rem;
}

.tbl_cart_list .form-group select.form-control {
  padding: 2px 10px;
  height: 32px;
  border: 0;
}


.bottom-cont div a,
.btn.btn-primary,
.button.button-positive,
.cart .order table tr td i.remove,
.checkbox input:checked + .checkbox-icon:before,
.checkbox input:checked:before {
  background-color: #01a8fb;
  border-color: #01a8fb;
  color: #fff !important
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn.btn-primary:active,
.button.button-positive.activated,
.button.button-positive.active,
.button.button-positive:active,
.item-btn a.button.activated {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff
}

.form-group input.form-control,
.form-group select.form-control,
.navbar-default .navbar-nav > li label.notifications {
  border-color: #01a8fb
}

.input-group-addon,
.input-group-addon:first-child,
.pre-checkout .address .info .action button {
  border-color: #01a8fb;
  color: #01a8fb
}

.cart .order table tr td.highlighted,
.cart h3,
.checkout .content table tbody tr td span,
.color-main,
.dishes .dishe .price,
.error-page h1,
.form .form-horizontal .control-label span,
.icon-primary,
.item-radio input + .radio-content .dynamic-radio:before,
.item-radio input:checked + .radio-content .dynamic-radio:before,
.list .list-item.selected .content .secondary,
.modal .popup-mode .item.item-divider.title,
.nav-tabs .dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a,
.points .fa-star,
.preorder .menus .resmenu .check .checked,
.rating .points,
.review i.selected,
.upselling-products .products .product .price,
.view-more,
a,
h1.title,
h2.title,
h3.title,
input.title {
  color: #01a8fb !important
}

.modal .popup-mode .tab-item-cont .button-bar .tab.active,
.nav-tabs > li.dropdown > a.active,
.nav-tabs > li.dropdown > a.open,
.nav-tabs > li > a.active {
  color: #01a8fb;
  border-bottom-color: #01a8fb
}

.navbar-default .navbar-nav > li > a:hover,
.view-more:active,
a:hover {
  color: #b49334
}

.navbar-default .navbar-nav > li > a.cart label,
.switcher__toggle {
  background-color: #01a8fb
}

.navbar-default .navbar-nav > li > a.cart.empty label {
  border-color: #facc48;
  color: #01a8fb
}

.navbar .dropdown .dropdown-toggle label.round {
  border-color: #01a8fb
}

.dishes .dishe.preload .price span,
.nav-tabs.preload li a.active span,
h3.title.preload {
  background: #01a8fb;
  color: #01a8fb
}

.addr_tag_item.active,
.badge-cont,
.thumbnail .cartel.featured {
  background: #01a8fb
}

.btn-badge-cont,
.row-eq-height .unread-messages {
  background-color: #b49334;
  color: #fff
}

.checkout .header,
.form.editable .group ul.tree .treecheckbox.check .icheckbox,
.form.editable .group ul.tree .treecheckbox.indeterminate .icheckbox,
.go-cart,
.navbar-default .navbar-nav > li label.notifications .count,
table .count {
  background: #01a8fb;
  color: #fff
}

.spinner.spinner-assertive {
  stroke: #01a8fb;
  fill: #01a8fb
}

.offset-categories.editor .nav-tabs > li > .category.selected {
  border-bottom-color: #01a8fb
}

.webtabs .tab.active {
  color: #01a8fb;
  border-bottom: 3px solid #01a8fb
}

input[readonly].form-control.home-address {
  border: 1px solid #01a8fb !important;
  border-left: 0 !important
}

.check-box i {
  color: #01a8fb
}

.color-primary {
  color: #01a8fb
}

.color-secundary {
  color: #fff
}

.background-primary {
  background-color: #01a8fb
}

.background-secondary {
  background-color: #fff
}

.border-primary {
  border-color: #01a8fb
}

.border-secondary {
  border-color: #fff
}

.color-primary-active:active,
.color-primary-checked:checked,
.color-primary-hover:hover,
.color-primary-visited:visited {
  color: #b49334
}

.background-primary-active:active,
.background-primary-checked:checked,
.background-primary-hover:hover,
.background-primary-visited:visited {
  background-color: #b49334
}

.border-primary-active:active,
.border-primary-checked:checked,
.border-primary-hover:hover,
.border-primary-visited:visited {
  border-color: #b49334
}

.nav-tabs .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  line-height: 1.4;

}

.box-shad {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.business > div {
  padding-top: 30px !important;
  padding-bottom: 35px !important;
}

.business h2 {
  margin-bottom: 20px;
  padding-left: 13px;
  font-weight: 600;
}

.business input[type=radio] {
  margin-right: 3px;
}


.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>
